.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.movie-image {
    width: 100%; /* or specific value */
    max-width: 500px;
    height: auto;
    display: block;
}


.btn-secondary {
    margin-top: 10px;
}
